.nav-bar {
    width: 100%;
    height: 50px;
    background-image: url(../img/00869e4691f9c04427be29b8687efb39.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    left: 0;top: 0;
    z-index: 222;

    >.row {
        display: flex;
        align-content: center;
        gap: 1000px;

        >* {
            height: 100%;
            /*border: 1px solid red;*/
            display: flex;
            align-content: center;
        }

        >div {
            display: flex;
            flex-wrap: wrap;
            
            >* {
                display: flex;
                color: white;
                margin: 0 2px;
            }

            >i {
                width: 20px;
            }

            >span {
                font-size: 18px;
            }
        }

        >nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: end;

            >ul {
                align-items: center;
                display: flex;
                justify-content: end;

                >li {
                    height: 100%;
                    display: flex;
                    justify-content: end;

                    >a {
                        display: flex;
                        justify-content: end;
                        height: 100%;
                        width: 30px;
                        display: flex;
                        border: 1px solid blak;
                        margin: 0 5px;
                    }
                }
            }
        }
    }
}

/*//////////end navbar///////*/
.heder {
    margin-top: 50px;
    width: 100%;
    height: 80px;
    padding: 0 5%;
    display: flex;
    align-items: center;

    >.row {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 16px;

        >figure {
            width: 15%;
            display: flex;
            justify-content: flex-start;

            >img {
                width: 100px;
                height: auto;
                display: block;
            }
        }

        >nav {
            width: 65%;
            display: flex;
            align-items: center;
            justify-content: center;

            >ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                align-items: center;
                gap: 14px;

                >li {

                    position: relative;

                    &:hover {
                        >.subMenu {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.35);
                        color: antiquewhite;
                    }

                    >a {
                        display: flex;
                        align-items: center;
                        height: 80px;
                        padding: 0 14px;
                        font-size: 18px;
                        text-transform: capitalize;
                        text-decoration: none;
                        color: rgb(118, 51, 51);
                        transition: 0.3s;

                    }

                    >.subMenu {
                        list-style-type: none;
                        width: 100%;
                        position: absolute;
                        top: 80px;
                        left: 0;
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.3s;
                        z-index: 200;

                        >li {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgb(86, 39, 39);

                            &:hover {
                                background-color: rgb(40, 108, 37);
                            }

                            >a {
                                padding: 20px 20px;
                            }
                        }
                    }


                }
            }
        }

        >div {
            width: 20%;
            display: flex;
            justify-content: flex-end;

            >a {
                width: 30px;
                height: 80px;
                margin: 0 5px;
                display: flex;
                align-items: center;
                justify-content: center;

                >svg {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}


/*/////////end heder/////////*/
.slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    >.vid {

        >video {}

        >h2 {
            font-size: 50px;
            position: absolute;
            color: rgb(222, 222, 222);
            margin-top: -550px;
            margin-left: 3%;
        }
    }

}

/*////////end slider//////////*/
.item {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    height: 160px;

    >.row {
        padding-top: 50px;
        display: flex;
        align-content: center;

        >a {
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: center;
            &:hover{
                >img{
                    border: 1px solid rgba(121, 117, 117, 0.405);
                    border-radius: 50%;
                }
               
            }

            >* {
                width: 100%;
                background-color: azure;

            }

            >img {
                display: flex;
                flex-wrap: wrap;
                object-fit: cover;
                border: 1px solid black;
                border-radius: 50%;
                margin: 0 3%;
            }

            >span {

                /*border: 1px solid red;*/
                margin-top: 100px;
                display: flex;
                flex-wrap: wrap;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                font-size: 12px;
            }


        }


    }
}
/*////////end item/////*/
.card{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 100px;
   
    >figure{
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            >a{
                background-color: rgb(234, 222, 222);
                color: black;
                border: 1px solid black;
            }
        }
        >img{
            position: relative;
            margin-top: 30px;
            display: flex;
            object-fit: cover;
            justify-content: center;
            align-items: center;
            margin-bottom: 100px;
            margin-left: 30px;
            width: 400px;
            height: 400px;
        }
       
            >a{
                border-radius: 3px;
                transition: .5s;
                position: absolute;
                width: 200px;
                height: 50px;
                text-transform: capitalize;
               display: flex;
               justify-content: center;
               align-items: center;
                border: 1px solid rgb(247, 242, 242);
                background-color: rgba(228, 228, 228, 0);
                color: rgb(228, 228, 228);
               
            }
        }
        

}
/*///end card////*/
.foot{
    width: 100%;
    padding: 70px 4%;
    background-color: rgb(71, 39, 39);
    >.row{
        display: flex;
        flex-wrap: wrap;
        >div{
            width: 50%;
            min-height: 100px;
            /*border: 1px solid white;*/
            &:first-of-type{
                >figure{
                    >img{
                        width: 200px;height: 100%;
                    }
                }
                >ul{
                    display: flex;
                    flex-wrap: wrap;
                    &:first-of-type{
                        margin-block: 30px;
                        >li{
                            width: 50%;
                            height: 40px;
                            /*border: 1px solid red;*/
                            display: flex;
                            align-items: center;
                            color: white;
                            font-size: 18px;
                        }
                    }
                    &:last-of-type{
                        gap: 50px;
                        >li{
                            /*margin: 15px;*/
                            
                        }
                    }
                }
            }
            &:last-of-type{
                >*{
                    color: white;
                }
                >h4{
                    font-size: 25px;
                }
                >form{
                    >div{
                        width: 70%;
                        height: 70px;
                        border: 1px solid rgba(150, 143, 143, 0.616);
                        padding: 2px ;
                        display: flex;
                        outline: 2px solid rgb(99, 67, 67);
                        margin: 30px 0;
                        /*outline-offset: 5px;*/
                        >*{
                            height: 100%;
                            border: none;
                            outline: none;
                        }
                        >input{
                            background-color:transparent ;
                            width: 65%;
                            font-size: 20px;
                            padding-left: 10px;
                           
                        }
                        >button{
                            width: 35%;
                            background-color: rgba(82, 201, 42, 0.512);
                            color: white;
                        }
                    }
                }
                >p{

                }
              
            }
        }
    }
}
/*//////////end footer///////////*/
.ai{
    z-index: 1;
    width: 200px;
    height: 200px;
    border-radius: 100%;
overflow: hidden;
    position: fixed;
    right: 20px;bottom:20px;
    >img{
        width: 100%;
        height: auto;
    }
}