*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 100%;
   /* direction: ltr;*/
    font-family: "Playwrite CZ", cursive;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;

    &:visited {
        color: inherit;
    }
}
/*@font-face {
    font-family: ghazal;
    src: url();
}*/
